.dropdown-item{
    background-color:rgba(172, 255, 47, 0.4); /* Seçili kategori rengi olarak yeşil kullanabilirsiniz */
    border-color:yellowgreen;
}
.badge{
    background-color:rgba(172, 255, 47, 0.4); /* Seçili kategori rengi olarak yeşil kullanabilirsiniz */
    border-color:yellowgreen;
}
